.container {
  position: relative;
}


.restaurantCard {
  width: 338px;
height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.img {
  width: 110px;
  height: 123px;
}

.textContainer {
  display: flex;
  width: 338px;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
box-sizing: border-box;

position: absolute;
top: 62%;
}

.name {
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infoContainer {
  display: flex;
  gap: 4px;
}

.star {
  width: 10px;
  height: 10px;
  aspect-ratio: 1/1;
}

.mark {
  color: var(--BLACK-05, var(--BLACK-05, #EEE));
  text-align: center;
  font-family: Pretendard;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 175% */
}

.location {
  color: var(--BLACK-05, var(--BLACK-05, #EEE));
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}