.header {
    width: 375px;
    height: 110px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.headerContainer {
    width: 339px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.homeText {
    color: var(--BLACK-02, var(--BLACK-02, #3D3D3D));
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.iconContainer {
    display: flex;
    gap: 18px;

}

.search {
    width: 16px;
    height: 16px;
}

.alarm {
    width: 16px;
    height: 17px;
}